*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
}
.calculator{
    background-color: black;
    max-width: 15rem;
    width: 100%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
}
.display{
    width: 100%;
    height: 3rem;
    background-color: #111111;
    color: #02FF00;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10px;
    font-size: 30px;
}
.buttonsContainer{
    user-select: none;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    padding: 20px 0;
}
.buttonsContainer button {
    width: 100%;
    border-radius: 10px;
    background-color: #333333;
    color: white;
    font-size: 20px;
    border: none;
    padding: 10px 0;
    transition: all linear 0.2s;
}

.buttonsContainer button:hover{
    scale: 1.1;
}

.buttonsContainer button:active{
    scale: 0.9;
}
.buttonsContainer .clearBtn{
    background-color: #DC3545;
    grid-column: span 3;
}

.buttonsContainer .operator{
    background-color: #FF9500;
}

.buttonsContainer .equalTo{
    grid-column: span 2;
    background-color: #1E90FF;
}
