*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100%;
    background-color: white;
}
.container{

    max-width: 35rem;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0   0   10px rgba(0, 0, 0, 0.248);
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px 10px;
    
}
.addContainer{
    display: flex;
    width: 100%;
    gap: 10px;
}
.addContainer>input{
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.36);
    width: 100%;
}
.addContainer>button{
    padding: 0 15px;
    background-color: lightseagreen;
    border-radius: 5px;
    border: none;
    transition: all linear 0.2s;
    cursor: pointer;
}
.addContainer>button:active{
    scale: 0.9;
}
.listContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height:50vh;
    overflow-y: auto;
}
.list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: aliceblue;
    padding: 12px;
    border-radius:5px ;

}
.deleteBtn{
    padding: 5px;
}